!!! 5
head
  meta(charset='utf-8')
  title Codename Pew Pew
  meta(name='description', content='strategy building war game')
  meta(name='author', content='Maverick Lee, Jack Huang, Sunmeet Singh')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  // CSS
  != css("bootstrap.min.css")

  // JS
  != js('jquery-1.7.2.min.js')
  != js('requestAnimationFrame.js')
  != js('client/engine/component')
  != js('client/engine/event')
  != js('client/engine/geometry')
  != js('client/engine/scene')
  != js('client/engine/sprite')
  != js('client/engine/spritesheet')
  != js('client/game')
  != js('client/unit')
  != js('client/main')

body
  block content
    h1 random stuff
    canvas#canvas(tabindex='0', width=800, height=600)
      Browser not compatible with HTML5 canvas

| </html>
