!!! 5
head
  meta(charset='utf-8')
  title Codename Pew Pew
  meta(name='description', content='strategy building war game')
  meta(name='author', content='Maverick Lee, Jack Huang, Sunmeet Singh')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  // CSS
  != css("bootstrap.min.css")

  // JS
  != js('jquery-1.7.2.min.js')

body
  block content
    h1 random stuff

| </html>
